
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .button {
    background-color: #5a170e;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 5rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    
    
  }
  
  .button--alt {
    color: rgb(88, 16, 16);
    border-radius: 20px;
    cursor: pointer;
    width: 5rem;
    padding: 0.5rem 1rem;
  }
  
  .button:hover,
.button--alt:hover {
  background-color: #16738c;
}
  