/* ExpenseDate.css */

.expense-date {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    border: 1px solid wheat;
    background-color: rgb(24, 23, 23);
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;

  }
  
  .expense-date_month {
    font-size: 18px;
    font-weight: bold;
    color: #fdfdfd;
  }
  
  .expense-date-day {
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
    color: #fdfdfd;
  }
  
  .expense-date_year {
    font-size: 18px;
    color: #fdfdfd;
  }
  