
.cart-badge {
  position: fixed;
  top: 10px; 
  right: 10px; 
  background-color: #f00; 
  color: #fff; 
  border: none;
  font-size: 1rem;
  padding: 16px 20px;
  cursor: pointer;
  border-radius: 100px;
}
.product-control{
  color: white;
  margin-left: 2rem;
  margin-top: 2rem;
}
.added-products{
  color: white;
}
.white-text{
  color: #fff;

}
.submit-button{
  padding: 8px 25px;
}