.expense-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(132, 106, 226);
    
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

  }
  
  label {
    font-weight: bold;
    font-size: 17px;

  }
  
  input {
    padding: 15px;
    /* padding-left: 150px; */
    border-radius: 5px;
    border: 1px solid rgb(34, 34, 34);
    text-align: start;
    width: 350px;
    
    
    
  }
  input[type="date"] {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(34, 34, 34);
    font-weight: bold;
    font-size: large;
  }
  
  
  .submit-button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #57043d;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    
  }
  
  .submit-button:hover {
    background-color: rgb(15, 78, 94)
    
  }
