
.seller-admin {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #fdfdfd;
    margin: 1px;
    background-color: rgb(11, 63, 173);
    
}
 .product-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #fdfdfd;

  }
  label {
    font-weight: bold;
    font-size: 17px;

  }
  
  input {
    padding: 10px;
    /* padding-left: 150px; */
    border-radius: 5px;
    border: 0.5px solid rgb(34, 34, 34);
    text-align: start;
    width: 350px;
    
    }
    input:focus {
      font-size: 15px; 
      font-weight: bold;
    }
  select{
  padding: 10px;
    /* padding-left: 150px; */
    border-radius: 5px;
    border: 0.5px solid rgb(34, 34, 34);
    text-align: start;
    width: 350px;


}

.product-control select option {
  padding: 0.5rem;
}
  .submit-button {
    margin-top: 1rem;
    padding: 1.1rem 2.2rem;
    background-color: #e6e8eb;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    font-weight: bold;
    
    
  }
  
  .submit-button:hover {
    background-color: rgb(11, 114, 11)
    
  }
  .product-info h2 {
    font-size: 30px;
    margin-right: 500px;
  }

  .product-info div {
    font-size: 18px;
    margin-bottom: 4rem;
    color: #fdfdfd;
  }
  .delete-button{
    margin-top: 0.25rem;
    padding: 0.7rem ;
    font-weight: bold;
    background-color: rgb(209, 114, 185);
  }
  .delete-button:hover{
    background-color: rgb(207, 18, 18);
  }
  
  .big-dot::before {
    content: "\2022";
    font-size: 1.5rem;
    margin-right: 5px;
  }